@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
    background-color: #fff;
    color: #21243d;
  }
}
